In [6]:
#QUES1----------------
#using for loop - when we know the n no. of iterations.
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
#QUES1----------------------
#Using while loop - while loop executes the blow until the given condition is true.
n=0
while n<11:
    print(n)
    n+=1

0
1
2
3
4
5
6
7
8
9
10

In [21]:
#Ques-2-------------------
#Using for loop
sum = 0 
for i in range(1, 11): 
  sum += i 
print(sum)

55

In [9]:
#Ques2------------
#Using while loop
n=1
sum=0
while n<=10:
    sum+=n
    n+=1
print("The sum is : " , sum)

The sum is :  55

In [15]:
#QUES-3---------------------
#electricity bill

bill=0
unit = int(input("Enter the unit"))
if unit <= 100:
    bill = unit * 4.5
elif unit<=200:
           bill=100*4.5+(unit-100)*6
elif unit<=300:
           bill=100*4.5+(200-100)*6+(unit-200)*10
else:
    bill = 450 + 600+ 1000 + ((unit - 300) * 20)
print("total bill : " ,bill)

Enter the unit 310

total bill :  2250

In [20]:
#QUES-4 -----------------

cube = []
for i in range(100):
    cube.append(i**3)
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]

In [15]:
#QUES-5 ----------
#VOWELS

string = "I want to become a data scientist"
result = string

vowels = ('a', 'e', 'i', 'o', 'u')

for i in string.lower():
    if i in vowels:
        result = result.replace(i, "")

print('After removing vowels : ', result)

After removing vowels :  I wnt t bcm  dt scntst